@import 'inc/_solarized';
@import 'inc/_list';
@import 'inc/_alignment';
@import 'inc/_tables';
@import 'inc/_layouts';
@import 'inc/_holygrail';


// stretch element height to specified top and bottom position
@mixin stretch-y($offset-top:0, $offset-bottom:0) {
  @include stretch($offset-top, false, $offset-bottom, false);
}

// stretch element width to specified left and right position
@mixin stretch-x($offset-left:0, $offset-right:0) {
  @include stretch(false, $offset-right, false, $offset-left);
}

// shorthand to stretch element height and width
@mixin stretch($offset-top:0, $offset-right:0, $offset-bottom:0, $offset-left:0) {
  position: absolute;
  @if $offset-top { top: $offset-top; }
  @if $offset-bottom { bottom: $offset-bottom; }
  @if $offset-left { left: $offset-left; }
  @if $offset-right { right: $offset-right; }
}

.fixed-header, .fixed-footer {
    background-color: skyblue;
}

.header {
  background-color: wheat;
  padding-left: 1em;
  margin-bottom: 1em;
}

.signed-paper {
  .paper-title {
    font-weight: bold;
  }

  .paper-authors {
    padding-left: 1em;

    .author {
      font-weight: bolder;
      color: blue;
    }
    .coauthor > a {
      color: darkcyan;
    }
  }
}



.author-catalog {
  .catalog-header {
    border-top: 1px solid black;
    background-color: cornsilk;
    .name-variants {
      font-weight: bold;
      font-size: large;
    }
    .usernames {
      padding-left: 2em;
    }
  }

  .catalog-entries {
    margin-left: 4em;
  }

  .catalog-entry {
    margin-bottom: 0.5em;
  }

  .signature-mention {
    background-color: aqua;
  }

  .entries-footer {
    margin-left: 2em;
  }

  margin-bottom: 30px;
}



a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.collapse {
  background-color: lawngreen;
  border: none;
}

.collapse:hover {
  background-color: darkgreen;
}

.collapsible {
  display: block;
}

.collapsed {
  display: none;
}
