<!doctype html>
<html>

  <head>

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    {% assets "home_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"></link>
    {% endassets %}

    {% assets "home_js" %}
    <script rel="text/javascript" href="{{ ASSET_URL }}"></script>
    {% endassets %}

  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="navbar">
          <a href="/">/Home</a> {% block header %}{% endblock %}
        </div>
      </div>

      <div class="content">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
      </div>

      <div class="footer">
        <p>Footer Text</p>

      </div>

    </div>
  </body>
</html>
