<!doctype html>
<html>

<head>

  <title>{% block title %}{% endblock %} - Flaskr</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

  {% assets "home_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"></link>
  {% endassets %}

  {% assets "home_js" %}
    <script rel="text/javascript" href="{{ ASSET_URL }}"></script>
  {% endassets %}

</head>
<body>

  <section class="content">
    <nav>
        <a href="/">Root</a>
    </nav>
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>

</body>
</html>
