body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.container {
    width: 90%;
    margin: 0 auto; /* Center the DIV horizontally */
}

.main {
    margin-top: 0;
}

.fixed-header, .fixed-footer {
    width: 100%;
    max-height: 3em;
    position: fixed;
    background-color: beige;
    padding: 10px 0;

}

.fixed-header{
    top: 0;
}

.fixed-footer{
    bottom: 0;
}


.container p{
    line-height: 200px; /* Create scrollbar to test positioning */
}

.navbar {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    font-size: large;
    border-collapse: collapse;
    overflow-y: hidden;

    a {
        text-decoration: underline;
    }
}
