table {
  border-collapse: collapse;
  border: 1px solid purple;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th {
  text-align: left;
}
tbody td {
  text-align: left;
}

tfoot th {
  text-align: right;
}
